{{ define "main" }}

<h1>{{ .Title }}</h1>

{{ .Content }}

<p>New email for user BigDCalzone@luckystrikecasino.cm.</p>

<table width="800px" style="table-layout: fixed;">
  <tr>
    <th width="195px">From</th>
    <th width="400px">Subject</th>
  </tr>
  {{ range .Pages }}
  <tr>
    <td id="appendcell">
      <a href="{{ .RelPermalink }}">
        {{ .Params.from }}
      </a>
    </td>
    <td id="appendcell">
      <a href="{{ .RelPermalink }}">
        {{ .Params.subject }}
      </a>
    </td>
  </tr>
  {{ end }}
</table>

{{ end }}
